#header {
  position: fixed;
  width: 220px;
}
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: rgb(206, 219, 228);
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: rgb(72, 136, 189);
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: rgb(240, 244, 247);
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(206, 219, 228);
  margin: 10px 0px;
  font-weight: bold;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: rgb(72, 136, 189);
  color: rgb(242, 246, 248);
  border-radius: 3px;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: rgb(206, 219, 228);
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #a3c6d6 0%, #73bcda 100%);
}
#header .logo {
  padding: 20px;
}
.logotext > img {
  height: 80px;
  width: 200px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

.sideBarColor {
  background-color: #124a87 !important;
}

.pro-sidebar .pro-menu .pro-menu-item :hover {
  background-color: #0e2a49;
}

.pro-sidebar .pro-menu a {
  color: white;
}

.pro-item-content {
  color: white;
}
