@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home > img {
  display: flex;
  size: initial;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .personnel-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin-left: 200px;
}

.personnel-card {
  border-radius: 6px;
  background: white;
  position: sticky;
  margin: 2rem;
  width: 400px;
  display: flex;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 5%);
}

.personnel-card > img {
  width: 20%;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  position: static;
}

.personnel-card > div > h3 {
  color: cornflowerblue;
  padding: 0.5rem;
  font-family: Courgette;
}

.personnel-card > div > p {
  color: black;
  font-family: cursive;
  padding: 0.5rem;
} */
/* .personnel-card > button {
  color: lightseagreen;
  border-radius: 4px;
} */
/* .btn-personnel {
  background-color: rgb(72, 136, 189);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 5px 30px;
  font-family: cursive;
  margin: 5px;
  border-color: transparent;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
} */
/* .btn-div {
  display: flex;
} */

/* form {
  border-radius: 6px;
  font-size: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}
form > input {
  padding: 0.4em;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
}
form > label {
  margin-top: 15px;
  font-family: cursive;
  font-size: 16px;
} */
/* .btn {
  outline: 0;
  margin: 15px;
  cursor: pointer;
  font-family: cursive;
  border-radius: 4px;
  background: cornflowerblue;
  width: 100px;
  border: 0.5px solid rgba(0, 0, 0, 0.37);
  padding: 0.5rem 1rem;
} */
/* .add-personnel-btn {
  border-radius: 50px;
  color: white;
  font-size: 16px;
  width: 300px;
  background: lightgreen;
  float: right;
  font-family: cursive;
  margin: 10px;
  border-color: transparent;
  display: inline-block;

  height: 40px;

  /*z-index: 10;*/
  /*bottom: 0;*/
  /*  margin: left 0;
  width: 150px;
} 
/* .btn-cancel {
  color: white;
  font-family: cursive;
  background: cornflowerblue;
} */

/* .btn-confirm {
  color: white;
  font-family: cursive;
  background: cornflowerblue;
}

.congés {
  width: 100px;
  /*transform: "translate(-50%, -50%)";
  display: flex;
  position: static;
}
.congés > form > input {
  width: 100px;
}
.div1 {
  display: flex;
} */
.home > img {
  display: flex;
  height: 50%;
  width: 50%;
  margin-left: 200px;
}
.home > h1 {
  font-family: Courgette;
  margin: 0px;
  padding: 50px;
  line-height: 50px;
  color: grey;
}
.home {
  background-image: url("https://th.bing.com/th/id/R76f3ecf3970daedaa22b955222ef046a?rik=dBQHtJcEngMgPA&pid=ImgRaw");

  background-color: white; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  margin-left: 200px;
  margin-top: -12px !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
